@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif; 
}


/* Marine blue: hsl(213, 96%, 18%)
Purplish blue: hsl(243, 100%, 62%)
Pastel blue: hsl(228, 100%, 84%)
Light blue: hsl(206, 94%, 87%)
Strawberry red: hsl(354, 84%, 57%)
Cool gray: hsl(231, 11%, 63%)
Light gray: hsl(229, 24%, 87%)
*/
/** color bg */
/* Magnolia: hsl(217, 100%, 97%) */
/* background-color: rgb(240, 246, 255); */
/**************/
/*
Alabaster: hsl(231, 100%, 99%)
White: hsl(0, 0%, 100%) */
body{
    font-family: "Ubuntu", sans-serif;
     padding: 0;
    margin: 0;
    /*width: 100dvw;
    height: 100dvh; */
    /* background-color: black; */

    /* background-color:  rgb(2, 41, 90); */
   /* background-color: rgb(71, 61, 255); */
  /* background-color: rgb(173, 190, 255) */

  /* background-color:  rgb(191, 226, 253); */
  /* background-color:  hsl(354, 84%, 57%); */
  /* background-color:  rgba(150,153,171,1); */
  /* background-color:  rgb(214, 217, 230);      */

  /** color bg */

 background-color: rgb(240, 246, 255);
 /* background-color: hsl(231, 100%, 99%); */
 /* background-color : hsl(0, 0%, 100%); */
}